.detail-wrap{
    width: 70%;
    float: left;
    height: 100%;
    overflow-y: auto;
}

.wrap-photo{
    padding: 40px 40px 0 40px;
    float: left;
    width: 15%;
}

.photo-desc{
    float: left;
    width: 60%;
    margin-top: 50px;
}

.photo-desc h1{
    margin: 0;
}
h2{
    color: gray;
}
p{
    font-size: 1.3em;
}
.section{
    float: left;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right
}
.section .wrap-title{
    box-sizing: border-box;
    height: 50px;
}
.section .wrap-title .left{
    width: 30%;
}
.section .wrap-title .right{
    width: 70%;
    text-align: right;
}

h2, p{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}